<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Graphics_card</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <section class="section">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{{ url_for('main') }}">
            <strong>Home</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="container">

      <h1 class="title">
        Graphics card
      </h1>

      <p> Nice! Now you can enter values for this criteria</p>
      <p> Don't worry, you shouldn't enter each value 😉 </p><br>

      <form action=" send" method="POST">
        <div class="field">
          <label class="label">GPU, MHz</label>
          <input class="input is-primary" type="text" placeholder="please enter a value" name="gpu">
        </div>

        <div class="field">
          <label class="label">RAM, GB</label>
          <input class="input is-primary" type="text" placeholder="please enter a value" name="ram">
        </div>

        <div class="field">
          <label class="label">Memory speed, MHz</label>
          <input class="input is-primary" type="text" placeholder="please enter a value" name="ms">
        </div>

        <div class="field">
          <label class="label">Power usage, Watt</label>
          <input class="input is-primary" type="text" placeholder="please enter a value" name="pu">
        </div>

        <div class="field">
          <label class="label">Price, €</label>
          <input class="input is-primary" type="text" placeholder="please enter a value" name="price">
        </div>

        <div class="control">
          <button class="button is-primary">Find</button>
        </div>

        <br />
        <div class="notification is-primary is-light">
          {% for item in result %}
          {{ item }} <br>
          {% endfor %}
        </div>
      </form>
    </div>
  </section>
</body>

</html>