<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hardware</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <!-- <link rel="stylesheet" href="static/style.css"> -->
</head>

<body>

  <section class="section">
    <div class="container">

      <h1 class="title">
        Are you looking to build a PC?
      </h1>

      <p> Then, you are on the right place!
        Our Tool helps you to choose hardware components</p><br>
      <p> At first, click on one of theese boxes to see a filter</p><br>

      <div class="columns">
        <div class="column">
          <p class="notification is-primary">
            <a href="{{ url_for('graphics_card') }}"> Graphics card</a>
          </p>
        </div>
        <div class="column">
          <p class="notification is-primary">
            CPU
          </p>
        </div>
        <div class="column">
          <p class="notification is-primary">
            Monitor
          </p>
        </div>
        <div class="column">
          <p class="notification is-primary">
            Motherboard
          </p>
        </div>
        <div class="column">
          <p class="notification is-primary">
            RAM
          </p>
        </div>
      </div>
    </div>
  </section>
</body>

</html>